{#
# chrony.conf.j2 for jcook3701.pkgs
#
# SPDX-FileCopyrightText: Jared Cook
# SPDX-License-Identifier: AGPL-3.0-or-later
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.
#}

{%- macro chrony() -%}
# Upstream NTP servers
{% for server in chrony_upstream_servers %}
server {{ server }} iburst{% if chrony_enable_nts %} nts{% endif %}

{% endfor %}

# Drift file location
driftfile {{ chrony_directory.var_state }}/drift

{% if chrony_enable_nts -%}
# Save NTS keys, certificates, and cookies to disk
ntsdumpdir {{ chrony_directory.var_state }}
{%- endif %}

# Log files location.
logdir  {{ chrony_directory.log }}

# This directive enables kernel synchronisation (every 11 minutes) of the
# real-time clock. Note that it can’t be used along with the 'rtcfile' directive.
rtcsync

# Step the system clock instead of slewing it if the adjustment is larger than
# one second, but only in the first three clock updates.
makestep 1 3

{% if chrony_is_server %}
# Allow local network clients to sync time
{% for network in chrony_allow_networks %}
allow {{ network }}
{% endfor %}
{% endif %}
{%- endmacro -%}

{{- chrony() -}}
