{#
# .nanorc.j2 for jcook3701.pkgs
#
# SPDX-FileCopyrightText: Jared Cook
# SPDX-License-Identifier: AGPL-3.0-or-later
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.
#}

{%- macro nanorc() -%}
{% if nano_conf.autoindent is true -%}
  set autoindent         # Keeps your indentation consistent when writing code
{% endif -%}

{% if nano_conf.nowrap is true -%}
  set nowrap             # Don’t wrap long lines; scroll horizontally instead
{% endif -%}

{% if nano_conf.tabsize is defined -%}
  set tabsize {{ nano_conf.tabsize }}          # Set tab width to 4 spaces
{% endif -%}

{% if nano_conf.rebinddelete is true -%}
  set rebinddelete       # Makes the Delete key behave more like other editors
{% endif -%}

{% if nano_conf.mouse is true -%}
  set mouse              # Enable mouse support for selecting text
{% endif -%}

{% if nano_conf.historylog is true -%}
  set historylog         # Keep a history of recently edited files
{% endif -%}

{% if nano_conf.backup is true -%}
  set backup             # Make a backup copy before saving
{% endif -%}

{% if nano_conf.smooth is true -%}
  set smooth             # Smooth scrolling instead of jumping line by line
{% endif -%}

{% if nano_conf.titlecolor is defined -%}
  set titlecolor {{ nano_conf.titlecolor }}  # Color for title bar
{% endif -%}

{% if nano_conf.statuscolor is defined -%}
  set statuscolor {{ nano_conf.statuscolor }}  # Color for status bar
{% endif -%}

{% if nano_conf.constantshow is true %}
set constantshow       # Always show cursor position
{% endif -%}

{% if nano_conf.linenumbers is true %}
set linenumbers        # Show line numbers
{% endif -%}
{%- endmacro %}

{{- nanorc() }}
