{#
# db.forward.zone.j2 for jcook3701.pkgs
#
# SPDX-FileCopyrightText: Jared Cook
# SPDX-License-Identifier: AGPL-3.0-or-later
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.
#}

{%- macro db_forward_zone() -%}
$TTL 86400
@   IN  SOA     dns.{{ bind9_domain_name }}. root.{{ bind9_domain_name }}. (
        2024122401  ;Serial
        3600        ;Refresh
        1800        ;Retry
        604800      ;Expire
        86400       ;Minimum TTL
)
@                  IN  NS  dns.{{ bind9_domain_name }}.
@                  IN  A   {{ bind9_dns_server_ip_address }}
{#- Collect IPs and hostnames into a list -#}
{%- set ptr_records = [] %}
{%- for host in groups['all'] %}
  {%-   set hv = hostvars[host] %}
  {%-   if hv.ip is defined %}
    {%-     set ip_parts = hv.ip.split('.') %}
    {%-     if ip_parts | length == 4 %}
      {#- Add main hostname address -#}
      {%- set _ = ptr_records.append({
      'octet': ip_parts[3] | int,
      'record': (hv.hostname | default(host)) ~ '\t\t\tIN\tA\t' ~ hv.ip
      }) %}

      {#- Add address for each alias -#}
      {%- for alias in hv.aliases | default([]) %}
        {%- set _ = ptr_records.append({
        'octet': ip_parts[3] | int,
        'record': alias ~ '\t\t\tIN\tA\t' ~ hv.ip
        }) %}
      {%- endfor %}
    {%-     endif %}
  {%-   endif %}
{%- endfor %}

{# Sort the list by the numeric octet #}
{% for item in ptr_records | sort(attribute='octet') %}
{{ item.record }}
{% endfor %}
{%- endmacro -%}

{{- db_forward_zone() }}
