{#
# db.forward.zone.j2 for jcook3701.pkgs
#
# SPDX-FileCopyrightText: Jared Cook
# SPDX-License-Identifier: AGPL-3.0-or-later
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.
#}

{%- macro db_forward_zone() -%}
$TTL 86400
@   IN  SOA     {{ primary_hostname }}.{{ bind9_domain_name }}. root.{{ bind9_domain_name }}. (
        {{ ansible_date_time.year }}{{ ansible_date_time.month }}{{ ansible_date_time.day }}01  ;Serial
        3600        ;Refresh
        1800        ;Retry
        604800      ;Expire
        86400       ;Minimum TTL
)
@ IN NS {{ primary_hostname }}.{{ bind9_domain_name }}.
{% if secondary_hostname %}
@ IN NS {{ secondary_hostname }}.{{ bind9_domain_name }}.
{% endif %}

{% if primary_hostname and primary_ip %}
{{ primary_hostname }} IN A {{ primary_ip }}
{% endif %}
{% if secondary_hostname and secondary_ip %}
{{ secondary_hostname }} IN A {{ secondary_ip }}
{% endif %}

{#- Collect IPs and hostnames into a list -#}
{%- set ptr_records = [] %}
{%- for zone_record in bind9_zone_records | default([]) %}
    {%- if zone_record.ip is defined and zone_record.hostname is defined %}
        {%- set ip_parts = zone_record.ip.split('.') %}
        {%- if ip_parts | length == 4 %}
            {%- if zone_record.hostname not in [primary_hostname, secondary_hostname] %}
                {#- Add main hostname address -#}
                {%- set _ = ptr_records.append({
                    'octet': ip_parts[3] | int,
                    'record': zone_record.hostname ~ '\t\t\tIN\tA\t' ~ zone_record.ip
                }) %}
            {% endif %}

            {#- Add address for each alias -#}
            {%- for alias in zone_record.aliases | default([]) %}
                {%- set _ = ptr_records.append({
                    'octet': ip_parts[3] | int,
                    'record': alias ~ '\t\t\tIN\tA\t' ~ zone_record.ip
                }) %}
            {%- endfor %}
        {%- endif %}
    {%- endif %}
{%- endfor %}

; --- Static Custom Zone Records ---
{# Sort the list by the numeric octet #}
{% for ptr in ptr_records | sort(attribute='octet') %}
{{ ptr.record }}
{% endfor %}
{%- endmacro -%}

{{- db_forward_zone() }}
