{#
# db.reverse.zone.j2 for jcook3701.pkgs
#
# SPDX-FileCopyrightText: Jared Cook
# SPDX-License-Identifier: AGPL-3.0-or-later
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.
#}

{%- macro db_reverse_zone() -%}
$TTL 86400
@   IN  SOA     ns1.{{ bind9_domain_name }}. root.{{ bind9_domain_name }}. (
        {{ ansible_date_time.year }}{{ ansible_date_time.month }}{{ ansible_date_time.day }}01  ;Serial
        3600        ;Refresh
        1800        ;Retry
        604800      ;Expire
        86400       ;Minimum TTL
)
@ IN NS ns1.{{ bind9_domain_name }}.
@ IN NS ns2.{{ bind9_domain_name }}.

{{ bind9_dns_server_ip_address.split('.')[3] }} IN PTR ns1.{{ bind9_domain_name }}.
{% if bind9_secondary_servers is defined and bind9_secondary_servers %}
{{ bind9_secondary_servers.split('.')[3] }} IN PTR ns2.{{ bind9_domain_name }}.
{% endif %}

{#- Collect IPs and hostnames into a list -#}
{%- set ptr_records = [] %}
{%- for host in bind9_zone_records | default([]) %}
  {%- if host.ip is defined and host.hostname is defined %}
    {%- set ip_parts = host.ip.split('.') %}
    {%- if ip_parts | length == 4 %}
      {%- if host.hostname not in ['ns1', 'ns2'] %}

        {#- Add main hostname PTR -#}
        {%- set _ = ptr_records.append({
          'octet': ip_parts[3] | int,
          'record': ip_parts[3] ~ '\tIN\tPTR\t' ~ host.hostname ~ '.' ~ bind9_domain_name ~ '.'
        }) %}

        {#- Add PTRs for each alias -#}
        {%- for alias in host.aliases | default([]) %}
          {%- set _ = ptr_records.append({
            'octet': ip_parts[3] | int,
            'record': ip_parts[3] ~ '\tIN\tPTR\t' ~ alias ~ '.' ~ bind9_domain_name ~ '.'
          }) %}
        {%- endfor %}
      {%- endif %}
    {%- endif %}
  {%- endif %}
{%- endfor %}

# --- Dynamic Reverse Zone Pointers ---
{# Sort the list by the numeric octet #}
{% for item in ptr_records | sort(attribute='octet') %}
{{ item.record }}
{% endfor %}
{%- endmacro -%}

{{- db_reverse_zone() }}
