//
// Do any local configuration here
//

{% for zone in bind9_zones %}
zone "{{ zone.name }}" IN {
  type {{ zone.type }};
  file "{{ zone.path }}/{{ zone.filename }}";
  {% if zone.allow_update is defined -%}
    allow-update {
    {%- if bind9_enable_dydns is true -%}
      {{ ' ' }}key{{ ' ' }}
      {%- for host in groups['all'] -%}
	{%- set hostname = hostvars[host].hostname | default(host) -%}
	{%- set keyname = hostname + '-tsig.key' -%}
	{{ keyname }}{{ '; ' }}
      {%- endfor -%}
      {# This might require another if statement to handle tsig between primary/secondary without dydns #}
    {%- else -%}
      {{ ' ' }}{{ zone.allow_update }}{{ '; ' }}
    {%- endif -%}
    };
  {% endif -%}
  {% if zone.key_directory is defined -%}
    key-directory "{{ zone.key_directory }}";
  {% endif -%}
  {% if zone.auto_dnssec is defined -%}
    dnssec-policy {{ zone.dnssec-policy }};
  {% endif -%}
  {% if zone.inline_signing is defined -%}
    inline-signing {{ zone.inline_signing }};
  {% endif -%}
  };

{% endfor -%}

// Consider adding the 1918 zones here, if they are not used in your
// organization
include "{{ bind9_file.rfc1918_zone }}";
