{#
# named.conf.j2 for jcook3701.pkgs
#
# SPDX-FileCopyrightText: Jared Cook
# SPDX-License-Identifier: AGPL-3.0-or-later
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.
#}

{%- macro named_conf() -%}
// This is the primary configuration file for the BIND DNS server named.
//
// Please read /usr/share/doc/bind9/README.Debian for information on the
// structure of BIND configuration files in Debian, *BEFORE* you customize
// this configuration file.
//
// If you are just adding zones, please do that in /etc/bind/named.conf.local

include "{{ bind9_file.named_conf_options }}";
include "{{ bind9_file.named_conf_local }}";
include "{{ bind9_file.named_conf_controls }}";
include "{{ bind9_file.named_conf_log }}";
{% if bind9_enable_tsig is true %}
  include "{{ bind9_file.named_conf_keys }}";
{% endif %}
include "{{ bind9_file.named_conf_default_zones }}";
{%- endmacro -%}

{{- named_conf() }}
