// DNS BIND controls clause

include "{{ bind9_key.rndc }}";

controls {
        inet {{ bind9_controls.inet }} port {{ bind9_controls.port }} allow { {{ bind9_controls.allow }}; } keys { {{ bind9_controls.rndc_key }}; };
};
