{#
# sssd.conf.j2 for jcook3701.pkgs
#
# SPDX-FileCopyrightText: Jared Cook
# SPDX-License-Identifier: AGPL-3.0-or-later
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.
#}

{%- macro sssd_conf() -%}
[sssd]
debug_level = {{ sssd_debug_level }}
services = nss, pam{% if sssd_enable_ssh | bool %}, ssh{% endif %}{% if sssd_enable_autofs | bool %}, autofs{% endif %}{% if sssd_enable_sudo | bool %}, sudo{% endif %}
config_file_version = 2
domains = {{ sssd_domain_name }}

[domain/{{ sssd_domain_name }}]
# --- IDENTITY PROVIDER (OpenLDAP Core) ---
id_provider = ldep
ldap_schema = {{ sssd_ldap_schema }}
ldap_uri = {{ sssd_ldap_uri }}
ldap_search_base = {{ sssd_ldap_search_base }}
ldap_user_search_base = {{ sssd_ldap_user_search_base }}
ldap_group_search_base = {{ sssd_ldap_group_search_base }}
ldap_access_filter = {{ sssd_ldap_access_filter }}

# --- AUTHENTICATION PROVIDER (Kerberos) ---
auth_provider = krb5
chpass_provider = krb5
krb5_server = {{ sssd_krb5_server }}
krb5_realm = {{ sssd_krb5_realm | upper }}

# Security hardening for Kerberos
krb5_validate = {{ sssd_krb5_validate }}
cache_credentials = {{ sssd_cache_credentials }}

# --- OTHER PROVIDERS ---
access_provider = ldap
{% if sssd_enable_autofs | bool %}
autofs_provider = ldap
{% endif %}
{% if sssd_enable_sudo | bool %}
sudo_provider = ldap
{% endif %}

# --- NETWORK & TLS TIMEOUTS ---
{% if sssd_ldap_tls | bool %}
ldap_id_use_start_tls = True
ldap_tls_reqcert = {{ sssd_ldap_tls_reqcert }}
ldap_tls_cert = {{ sssd_ldap_tls_cert }}
ldap_tls_key = {{ sssd_ldap_tls_key }}
{% else %}
ldap_id_use_start_tls = False
{% endif %}
ldap_search_timeout = {{ sssd_ldap_search_timeout }}
ldap_network_timeout = {{ sssd_ldap_network_timeout }}
timeout = {{ sssd_timeout }}
debug_level = {{ sssd_ldap_debug_level }}

# --- AUTOFS LDAP CONFIGURATION ---
{% if sssd_enable_autofs | bool %}
ldap_autofs_search_base = {{ sssd_ldap_autofs_search_base }}
ldap_autofs_map_object_class = {{ sssd_ldap_autofs_map_object_class }}
ldap_autofs_entry_object_class = {{ sssd_ldap_autofs_entry_object_class }}
ldap_autofs_map_name = {{ sssd_ldap_autofs_map_name }}
ldap_autofs_entry_key = {{ sssd_ldap_autofs_entry_key }}
ldap_autofs_entry_value = {{ sssd_ldap_autofs_entry_value }}
{% endif %}

# --- SUDO LDAP CONFIGURATION ---
{% if sssd_enable_sudo | bool %}
ldap_sudo_search_base = {{ sssd_ldap_sudo_search_base }}
{% endif %}

# --- SYSTEM SERVICES BLOCKS ---
[nss]
homedir_substring = {{ sssd_nss_homedir_substring }}

[pam]
debug_level = {{ sssd_pam_debug_level }}

{% if sssd_enable_sudo | bool %}
[sudo]
debug_level = {{ sssd_sudo_debug_level }}
{% endif %}

{% if sssd_enable_autofs | bool %}
[autofs]
debug_level = {{ sssd_autofs_debug_level }}
{% endif %}

{% if sssd_enable_ssh | bool %}
[ssh]
debug_level = {{ sssd_ssh_debug_level }}
{% endif %}

[pac]

[ifp]

[secrets]

[session_recording]
{%- endmacro -%}

{{- sssd_conf() }}
