{#
# 10-dns-overrides.conf.j2 for jcook3701.pkgs
#
# SPDX-FileCopyrightText: Jared Cook
# SPDX-License-Identifier: AGPL-3.0-or-later
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.
#}

{# Formats lists or strings into space-separated values #}
{%- macro format_dns_servers(servers) -%}
    {%- if servers is string -%}
        {{- servers -}}
    {%- elif servers is iterable -%}
        {{- servers | join(' ') -}}
    {%- else -%}
        192.168.1.2 192.168.0.3
    {%- endif -%}
{%- endmacro -%}

{# Generates the actual systemd configuration #}
{%- macro dns_overrides() -%}
[Resolve]
DNS={{ format_dns_servers(systemd_resolved_dns_servers) }}
Domains={{ systemd_resolved_domain_name | default('example.com') }}
{%- endmacro -%}

{{- dns_overrides() }}
