{#
# autofs.conf.j2 for jcook3701.pkgs
#
# SPDX-FileCopyrightText: Jared Cook
# SPDX-License-Identifier: AGPL-3.0-or-later
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.
#}

{%- macro autofs_conf() -%}
#
# Define default options for autofs.
#

[ autofs ]
master_map_name = {{ autofs_master_map_name | default('auto.master') | trim }}
timeout = {{ autofs_client_timeout | default(60) | int }}
browse_mode = {{ autofs_browse_mode | default('yes') | trim }}
logging = {{ autofs_logging | default('verbose') | trim }}

## LDAP CONNECTOR SCHEMA ATTRIBUTES ##
ldap_timeout = {{ autofs_ldap_timeout | default(30) | int }}
ldap_network_timeout = {{ autofs_ldap_network_timeout | default(30) | int }}

map_object_class = {{ autofs_map_object_class | default('automountMap') | trim }}
entry_object_class = {{ autofs_entry_object_class | default('automount') | trim }}
map_attribute = {{ autofs_map_attribute | default('automountMapName') | trim }}
entry_attribute = {{ autofs_entry_attribute | default('automountKey') | trim }}
value_attribute = {{ autofs_value_attribute | default('automountInformation') | trim }}
{%- endmacro -%}

{{- autofs_conf() }}
