{#
# autofs.ldif.j2 for jcook3701.pkgs
#
# SPDX-FileCopyrightText: Jared Cook
# SPDX-License-Identifier: AGPL-3.0-or-later
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.
#}

{%- macro autofs_ldif() -%}
# 1. FOUNDATIONAL AUTOMOUNT ROOT CONTAINER
dn: ou={{ openldap_automount_ou | default('AutoMount') | trim }},dc={{ openldap_second_level_domain | trim }},dc={{ openldap_top_level_domain | trim }}
changetype: add
ou: {{ openldap_automount_ou | default('AutoMount') | trim }}
objectClass: organizationalUnit
objectClass: top

# 2. THE MASTER MAP SWITCHBOARD CONTROL SWITCH
dn: automountMapName=auto.master,ou={{ openldap_automount_ou | default('AutoMount') | trim }},dc={{ openldap_second_level_domain | trim }},dc={{ openldap_top_level_domain | trim }}
changetype: add
automountMapName: auto.master
ou: auto.master
objectClass: top
objectClass: automountMap

# 3. DYNAMICALLY LOOP TO INITIALIZE UNIQUE SUB-MAPS AND LINK TO AUTO.MASTER
{% set unique_maps = [] %}
{% for share in openldap_autofs_mounts | default([]) %}
  {%- set sub_map_name = 'auto.' ~ (share.client_mount_parent | basename) %}
  {%- if sub_map_name not in unique_maps %}
    {%- set _ = unique_maps.append(sub_map_name) %}
dn: automountMapName={{ sub_map_name }},ou={{ openldap_automount_ou | default('AutoMount') | trim }},dc={{ openldap_second_level_domain | trim }},dc={{ openldap_top_level_domain | trim }}
changetype: add
automountMapName: {{ sub_map_name }}
ou: {{ sub_map_name }}
objectClass: top
objectClass: automountMap

dn: automountKey={{ share.client_mount_parent }},automountMapName=auto.master,ou={{ openldap_automount_ou | default('AutoMount') | trim }},dc={{ openldap_second_level_domain | trim }},dc={{ openldap_top_level_domain | trim }}
changetype: add
objectClass: top
objectClass: automount
automountKey: {{ share.client_mount_parent }}
automountInformation: {{ sub_map_name | trim }}
cn: {{ share.client_mount_parent | basename }}

  {%- endif %}
{% endfor %}


# 4. DYNAMIC AUTOMOUNT CONNECTION RULES LOOP (Resolving Server Context Natively)
{% for share in openldap_autofs_mounts | default([]) %}
  {%- set sub_map_name = 'auto.' ~ (share.client_mount_parent | basename) %}
  {%- set mnt_path = '//' ~ share.src ~ '/' ~ share.name %}
  {%- if share.fstype | default('cifs') == 'nfs' %}
    {%- set mnt_info = '-fstype=nfs,sync,sec=' ~ (share.auth_mode | default('krb5p')) ~ ',noatime' %}
  {%- else %}
    {%- set mnt_info = '-fstype=cifs,sec=' ~ (share.auth_mode | default('krb5')) ~ ',multiuser,vers=3.11' %}
  {%- endif %}
dn: automountKey={{ share.name }},automountMapName={{ sub_map_name }},ou={{ openldap_automount_ou | default('AutoMount') | trim }},dc={{ openldap_second_level_domain | trim }},dc={{ openldap_top_level_domain | trim }}
changetype: add
objectClass: top
objectClass: automount
automountKey: {{ share.name }}
automountInformation: {{ mnt_info }} {{ mnt_path }}
cn: {{ share.name }}

{% endfor %}
{%- endmacro -%}
{{- autofs_ldif() }}
