{#
# autofs.ldif.j2 for jcook3701.pkgs
#
# SPDX-FileCopyrightText: Jared Cook
# SPDX-License-Identifier: AGPL-3.0-or-later
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.
#}

{%- macro autofs_ldif() -%}
# 1. FOUNDATIONAL AUTOMOUNT ROOT CONTAINER
dn: ou={{ openldap_automount_ou | default('AutoMount') | trim }},dc={{ openldap_second_level_domain | trim }},dc={{ openldap_top_level_domain | trim }}
changetype: add
ou: {{ openldap_automount_ou | default('AutoMount') | trim }}
objectClass: organizationalUnit
objectClass: top

# 2. DYNAMIC AUTOMOUNT MAPS DISCOVERY PASS-THROUGH LOOP
{% for mount in openldap_autofs_mounts | default([]) if 'automountMapName' in mount %}
dn: automountMapName={{ mount.automountMapName | trim }},ou={{ openldap_automount_ou | default('AutoMount') | trim }},dc={{ openldap_second_level_domain | trim }},dc={{ openldap_top_level_domain | trim }}
changetype: add
automountMapName: {{ mount.automountMapName | trim }}
ou: {{ mount.ou | default(mount.automountMapName) | trim }}
{% for o_class in mount.objectClass %}
objectClass: {{ o_class | trim }}
{% endfor %}

{% endfor %}
# 3. DYNAMIC AUTOMOUNT CONNECTION RULES LOOP
{% for mount in openldap_autofs_mounts | default([]) if 'automountKey' in mount %}
dn: automountKey={{ mount.automountKey | trim }},automountMapName={{ mount.parent_map | trim }},ou={{ openldap_automount_ou | default('AutoMount') | trim }},dc={{ openldap_second_level_domain | trim }},dc={{ openldap_top_level_domain | trim }}
changetype: add
{% for o_class in mount.objectClass %}
objectClass: {{ o_class | trim }}
{% endfor %}
automountInformation: {{ mount.automountInformation | trim }}
automountKey: {{ mount.automountKey | trim }}
cn: {{ mount.cn | trim }}

{% endfor %}
{%- endmacro -%}

{{- autofs_ldif() }}
