{#
# samba.ldif.j2 for jcook3701.pkgs
#
# SPDX-FileCopyrightText: Jared Cook
# SPDX-License-Identifier: AGPL-3.0-or-later
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.
#}

{%- macro samba_ldif() -%}
# 1. WINBIND CROSS-PLATFORM ID-MAPPING CONTAINER
dn: ou={{ openldap_idmap_ou | trim }},dc={{ openldap_second_level_domain | trim }},dc={{ openldap_top_level_domain | trim }}
changetype: add
objectClass: organizationalUnit
ou: {{ openldap_idmap_ou | trim }}

# 2. DYNAMIC ID ALLOCATOR SYSTEM TRACKER FACTORY
dn: cn=NextFreeUnixId,dc={{ openldap_second_level_domain | trim }},dc={{ openldap_top_level_domain | trim }}
changetype: add
cn: NextFreeUnixId
sn: NextFreeUnixId
objectClass: sambaUnixIdPool
objectClass: inetOrgPerson
gidNumber: 1200
uidNumber: 1208

# 2b. FOUNDATIONAL SAMBA NETBIOS DOMAINS CONTAINER
dn: ou=Domains,dc={{ openldap_second_level_domain | trim }},dc={{ openldap_top_level_domain | trim }}
changetype: add
objectClass: organizationalUnit
ou: Domains

# 3. CLASSIC SAMBA NT4-STYLE REGISTRATION DOMAIN
dn: sambaDomainName={{ openldap_samba_domain | default(openldap_second_level_domain | upper) | trim }},ou=Domains,dc={{ openldap_second_level_domain | trim }},dc={{ openldap_top_level_domain | trim }}
changetype: add
sambaSID: {{ openldap_system_domain_sid | trim }}
sambaAlgorithmicRidBase: 1000
sambaNextUserRid: 1000
sambaMinPwdLength: 5
sambaPwdHistoryLength: 0
sambaLogonToChgPwd: 0
sambaMaxPwdAge: -1
sambaMinPwdAge: 0
sambaLockoutDuration: 30
sambaLockoutObservationWindow: 30
sambaLockoutThreshold: 0
sambaForceLogoff: -1
sambaRefuseMachinePwdChange: 0
objectClass: sambaDomain
objectClass: sambaUnixIdPool
objectClass: top
uidNumber: 1000
gidNumber: 1000
sambaDomainName: {{ openldap_samba_domain | default(openldap_second_level_domain | upper) | trim }}
sambaNextRid: 1001

# 4. AUTOMATED SAMBA NT4-STYLE DEFAULT DOMAIN GROUP STRUCTURE RECONCILIATION
{% for group in openldap_samba_groups | default([]) %}
dn: cn={{ group.name | trim }},ou={{ openldap_groups_ou | trim }},dc={{ openldap_second_level_domain | trim }},dc={{ openldap_top_level_domain | trim }}
changetype: modify
add: objectClass
objectClass: sambaGroupMapping
-
add: sambaSID
sambaSID: {{ openldap_system_domain_sid | trim }}-{{ group.rid | string | trim }}
-
add: sambaGroupType
sambaGroupType: {{ group.type | default(2) | string | trim }}
-
add: displayName
displayName: {{ group.name | trim }}
{% if group.name == 'Domain Users' %}
-
add: memberUid
{% for user in openldap_bootstrap_users | default([]) %}
memberUid: {{ user.username | trim }}
{% endfor %}
{% endif %}

{% endfor %}

# 5. DYNAMIC WINDOWS NT DATA ATTRIBUTE MODIFICATION LOOP
{% for user in openldap_bootstrap_users | default([]) %}
{% if user.is_samba_user | default(false) | bool %}
dn: uid={{ user.username | trim }},ou={{ openldap_people_child_ou | trim }},ou={{ openldap_users_parent_ou | trim }},dc={{ openldap_second_level_domain | trim }},dc={{ openldap_top_level_domain | trim }}
changetype: modify
add: objectClass
objectClass: sambaSamAccount
-
add: sambaSID
sambaSID: {{ openldap_system_domain_sid | trim }}-{{ user.uid | string | trim }}
-
add: sambaPrimaryGroupSID
sambaPrimaryGroupSID: {{ openldap_system_domain_sid | trim }}-513
-
add: sambaLogonScript
sambaLogonScript: logon.bat
-
add: sambaProfilePath
sambaProfilePath: \\PDC-SRV\profiles\{{ user.username | trim }}
-
add: sambaHomePath
sambaHomePath: \\PDC-SRV\{{ user.username | trim }}
-
add: sambaHomeDrive
sambaHomeDrive: H:
-
add: sambaLMPassword
sambaLMPassword: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
-
add: sambaAcctFlags
sambaAcctFlags: [U]
-
add: sambaNTPassword
sambaNTPassword: {{ user.password | string | jcook3701.pkgs.to_ntlm | upper }}
-
add: sambaPwdLastSet
sambaPwdLastSet: {{ ansible_date_time.epoch }}
-
add: sambaPwdMustChange
sambaPwdMustChange: {{ (ansible_date_time.epoch | int) + 15552000 }}
-

{% endif %}
{% endfor %}

{% for group in openldap_bootstrap_groups | default([]) %}
{% if group.is_samba_group | default(false) | bool %}
dn: cn={{ group.name | trim }},ou={{ openldap_groups_ou | trim }},dc={{ openldap_second_level_domain | trim }},dc={{ openldap_top_level_domain | trim }}
changetype: modify
add: objectClass
objectClass: sambaGroupMapping
-
add: sambaSID
sambaSID: {{ openldap_system_domain_sid | trim }}-{{ group.rid | default(group.gid) | string | trim }}
-
add: sambaGroupType
sambaGroupType: {{ group.type | default(2) | string | trim }}
-
add: displayName
displayName: {{ group.display_name | default(group.name) | trim }}
-

{% endif %}
{% endfor %}

{%- endmacro -%}

{{- samba_ldif() }}
