{#
# global.member_legacy.j2 for jcook3701.pkgs
#
# SPDX-FileCopyrightText: Jared Cook
# SPDX-License-Identifier: AGPL-3.0-or-later
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.
#}

{%- macro global_member_legacy() -%}
{#
    Parameters for an Independent Standalone File Server utilizing OpenLDAP.
    Configures legacy passdb maps for non-domain storage environments.

    Args:
        None

    Returns:
        str: Independent global blocks for mapping passwords across legacy directory servers.
#}
    ## Core Server Role Definer ##
    server role = {{ samba_server_role }}

    ## Protocol Security Engine ##
    server signing = {{ samba_server_signing }}
    smb encrypt = {{ samba_smb_encrypt }}
    server min protocol = {{ samba_server_min_protocol }}
    server max protocol = {{ samba_server_max_protocol }}

    ## Security & Protocols ##
    client min protocol = {{ samba_client_min_protocol }}
    client max protocol = {{ samba_client_max_protocol }}
    unix extensions = no

    ## Standalone Server Security Settings ##
    security = {{ samba_security_mode }}
    obey pam restrictions = yes

    ## Authentication Backends & Identity Mapping (IDMAP) ##
    passdb backend = {{ samba_passdb_backend }}
    idmap config * : backend = {{ samba_idmap_backend }}
    idmap config * : range = {{ samba_idmap_range_low }}-{{ samba_idmap_range_high }}

    ## Domains & LDAP Backend Maps ##
    ldap suffix = {{ samba_ldap_suffix }}
    ldap user suffix = {{ samba_ldap_user_suffix }}
    ldap group suffix = {{ samba_ldap_group_suffix }}
    ldap admin dn = {{ samba_ldap_admin_dn }}
    ldap ssl = {{ 'off' if samba_ldap_proto == 'ldaps' else 'start_tls' }}
{% if samba_idmap_backend == 'ldap' %}
{# Smart IDMAP Suffix Handler: Only prints out if the user selects the LDAP backend #}
    ldap idmap suffix = {{ samba_ldap_idmap_suffix }}
{% endif %}
{%- endmacro -%}

{{- global_member_legacy() }}
