{#
# pxe-files.j2 for jcook3701.pkgs
#
# SPDX-FileCopyrightText: Jared Cook
# SPDX-License-Identifier: AGPL-3.0-or-later
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.
#}



{% macro build_nginx_site(site) %}
{#
# build_nginx_site macro
#
# A universal macro for generating NGINX server blocks across different
# service types (PXE, Media, Web, etc.) within the jcook3701 environment.
#
# Parameters:
#   site (dict): A configuration object containing the following keys:
#     - listen (int): Port to bind the server to (Default: 80).
#     - server_name (str): The domain or catch-all name (Default: _).
#     - root (str): Absolute filesystem path to the site root (Default: /var/www/html).
#     - location_path (str): The base URI path for the location block (Default: /).
#     - autoindex (str): Directory listing toggle (Default: on).
#     - autoindex_exact_size (str): File size formatting toggle (Default: off).
#     - autoindex_localtime (str): Timestamp formatting toggle (Default: on).
#
# Returns:
#   A rendered NGINX server configuration block.
#}
server {
    listen {{ site.listen | default(80) }};
    server_name {{ site.server_name | default('_') }};
    root {{ site.root | default('/var/www/html') }};

    location {{ site.location_path | default('/') }} {
        autoindex {{ site.autoindex | default('on') }};
        autoindex_exact_size {{ site.autoindex_exact_size | default('off') }};
        autoindex_localtime {{ site.autoindex_localtime | default('on') }};
    }
}
{% endmacro %}

{# Call the macro for the specific item being looped by Ansible #}
{{ build_nginx_site(item) }}
