{#
# base_structure.ldif.j2 for jcook3701.pkgs
#
# SPDX-FileCopyrightText: Jared Cook
# SPDX-License-Identifier: AGPL-3.0-or-later
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.
#}

{%- macro base_structure() -%}
# 1. Directory Administrator Role Object
dn: cn={{ openldap_admin_user }},dc={{ openldap_second_level_domain }},dc={{ openldap_top_level_domain }}
changetype: add
objectClass: simpleSecurityObject
objectClass: organizationalRole
cn: {{ openldap_admin_user }}
description: LDAP Administrator
userPassword: "{{ openldap_admin_password_hashed }}"

# 2. Main Identity Organizational Unit Root
dn: ou={{ openldap_users_parent_ou | trim }},dc={{ openldap_second_level_domain | trim }},dc={{ openldap_top_level_domain | trim }}
changetype: add
objectClass: organizationalUnit
ou: {{ openldap_users_parent_ou | trim }}

# 3. Human User Accounts Sub-Container
dn: ou={{ openldap_people_child_ou | trim }},ou={{ openldap_users_parent_ou | trim }},dc={{ openldap_second_level_domain | trim }},dc={{ openldap_top_level_domain | trim }}
changetype: add
objectClass: organizationalUnit
objectClass: top
ou: {{ openldap_people_child_ou | trim }}

# 4. Workstation and Connection Machine Objects Sub-Container
dn: ou={{ openldap_computers_child_ou | trim }},ou={{ openldap_users_parent_ou | trim }},dc={{ openldap_second_level_domain | trim }},dc={{ openldap_top_level_domain | trim }}
changetype: add
objectClass: organizationalUnit
objectClass: top
ou: {{ openldap_computers_child_ou | trim }}

# 5. Security and POSIX Group Management Container
dn: ou={{ openldap_groups_ou | trim }},dc={{ openldap_second_level_domain | trim }},dc={{ openldap_top_level_domain | trim }}
changetype: add
objectClass: organizationalUnit
ou: {{ openldap_groups_ou | trim }}

# 6. Automated Infrastructure User Account Provisioning
{% for user in openldap_bootstrap_users | default([]) %}
dn: uid={{ user.username | trim }},ou={{ openldap_people_child_ou | trim }},ou={{ openldap_users_parent_ou | trim }},dc={{ openldap_second_level_domain | trim }},dc={{ openldap_top_level_domain | trim }}
changetype: add
objectClass: top
objectClass: person
objectClass: organizationalPerson
objectClass: inetOrgPerson
objectClass: posixAccount
objectClass: shadowAccount
cn: {{ user.firstname | trim }} {{ user.lastname | trim }}
sn: {{ user.lastname | trim }}
uid: {{ user.username | trim }}
uidNumber: {{ user.uid | string | trim }}
gidNumber: {{ user.gid | string | trim }}
homeDirectory: /home/{{ user.username | trim }}
loginShell: /bin/bash
userPassword: {{ user.password | trim }}
mail: {{ user.username | trim }}@{{ openldap_second_level_domain | trim }}.{{ openldap_top_level_domain | trim }}
shadowMin: 0
shadowMax: 99999
shadowWarning: 7

# Primary Group Creation for Individual User Objects
dn: cn={{ user.username | trim }},ou={{ openldap_groups_ou | trim }},dc={{ openldap_second_level_domain | trim }},dc={{ openldap_top_level_domain | trim }}
changetype: add
objectClass: top
objectClass: posixGroup
cn: {{ user.username | trim }}
gidNumber: {{ user.gid | string | trim }}
memberUid: {{ user.username | trim }}

# Create any auxiliary groups defined for the user
{% for group in user.groups | default([]) %}
dn: cn={{ group | trim }},ou={{ openldap_groups_ou | trim }},dc={{ openldap_second_level_domain | trim }},dc={{ openldap_top_level_domain | trim }}
changetype: add
objectClass: top
objectClass: posixGroup
cn: {{ group | trim }}
gidNumber: {{ (6000 + loop.index) | string | trim }}
memberUid: {{ user.username | trim }}

{% endfor %}
{% endfor %}

{%- endmacro -%}

{{- base_structure() }}
