{#
# db_config.ldif.j2 for jcook3701.pkgs
#
# SPDX-FileCopyrightText: Jared Cook
# SPDX-License-Identifier: AGPL-3.0-or-later
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.
#}

{%- macro db_config() -%}
# 4. Load the MDB Module (Required on Ubuntu/Debian)
dn: cn=module{0},cn=config
objectClass: olcModuleList
cn: module{0}
olcModulePath: {{ openldap_directory.modules }}
olcModuleLoad: back_mdb

# 5. Create the Database Entry (Not modify!)
dn: olcDatabase={1}mdb,cn=config
objectClass: olcDatabaseConfig
objectClass: olcMdbConfig
olcDatabase: {1}mdb
olcDbDirectory: {{ openldap_directory.database }}
olcSuffix: dc={{ openldap_second_level_domain }},dc={{ openldap_top_level_domain }}
olcRootDN: cn=admin,dc={{ openldap_second_level_domain }},dc={{ openldap_top_level_domain }}
olcRootPW: {{ openldap_admin_password_hashed }}
# Basic indexing for performance and stability
olcDbIndex: objectClass eq
olcDbIndex: cn,sn,mail pres,eq,sub
olcDbIndex: uid pres,eq,sub

# Configure TLS/SSL
dn: cn=config
changetype: modify
replace: olcTLSCertificateFile
olcTLSCertificateFile: {{ openldap_key.tls_cert }}
-
replace: olcTLSCertificateKeyFile
olcTLSCertificateKeyFile: {{ openldap_key.tls_key }}

# Configure Database 1 (mdb or hdb depending on OS)
dn: olcDatabase={1}mdb,cn=config
changetype: modify
replace: olcSuffix
olcSuffix: dc={{ openldap_second_level_domain }},dc={{ openldap_top_level_domain }}
-
replace: olcRootDN
olcRootDN: cn=admin,dc={{ openldap_second_level_domain }},dc={{ openldap_top_level_domain }}
-
replace: olcRootPW
olcRootPW: {{ openldap_admin_password_hashed }}
{%- endmacro %}

{{- db_config() }}
