#
# LDAP Defaults
#

# See ldap.conf(5) for details
# This file should be world readable but not world writable.

#BASE	dc=example,dc=com
#URI	ldap://ldap.example.com ldap://ldap-master.example.com:666

#SIZELIMIT	12
#TIMELIMIT	15
#DEREF		never

# Turning this off breaks GSSAPI used with krb5 when rdns = false
SASL_NOCANON	{{ openldap_conf.sasl_nocanon }}
URI ldaps://modern-times.{{ openldap_conf.domain_name }}/
BASE dc={{ openldap_conf.second_level_domain }},dc={{ openldap_conf.top_level_domain }}

# TLS_CACERT /etc/openldap/certs/cert.pem
TLS_CERT {{ openldap_key.tls_cert }}
TLS_KEY {{ openldap_key.tls_key }}
TLS_REQCERT {{ openldap_conf.tls_reqcert }}
