{#
# xfwm4.xml.j2 for jcook3701.pkgs
#
# SPDX-FileCopyrightText: Jared Cook
# SPDX-License-Identifier: AGPL-3.0-or-later
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.
#}

{%- macro xfwm4() -%}
<?xml version="1.0" encoding="UTF-8"?>

<channel name="xfwm4" version="1.0">
  <property name="general" type="empty">
    <property name="theme" type="string" value="{{ xfce_theme | default('Default') }}"/>
    <property name="button_layout" type="string" value="{{ xfce_button_layout | default('O|SHMC') }}"/>
    <property name="title_font" type="string" value="{{ xfce_wm_font | default('Sans Bold 9') }}"/>
    <property name="workspace_count" type="int" value="{{ xfce_workspaces | default(5) }}"/>
    <property name="wrap_workspaces" type="bool" value="false"/>
    <property name="workspace_names" type="array">
      <value type="string" value="Workspace 1"/>
      <value type="string" value="Workspace 2"/>
      <value type="string" value="Workspace 3"/>
      <value type="string" value="Workspace 4"/>
      <value type="string" value="Workspace 5"/>
    </property>
    <property name="cycle_minimized" type="bool" value="false"/>
    <property name="zoom_pointer" type="bool" value="true"/>
  </property>
</channel>
{%- endmacro -%}

{{- xfwm4() }}
