{#
# xsettings.xml.j2 for jcook3701.pkgs
#
# SPDX-FileCopyrightText: Jared Cook
# SPDX-License-Identifier: AGPL-3.0-or-later
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.
#}

{%- macro xsettings() -%}
<?xml version="1.0" encoding="UTF-8"?>
<channel name="xsettings" version="1.0">
  <property name="Net" type="empty">
    <property name="ThemeName" type="string" value="{{ xfce_theme }}"/>
    <property name="IconThemeName" type="string" value="{{ xfce_icon_theme }}"/>
    <property name="DoubleClickTime" type="int" value="400"/>
  </property>
  <property name="Gtk" type="empty">
    <property name="FontName" type="string" value="{{ xfce_interface_font | default('Sans 10') }}"/>
    <property name="MonospaceFontName" type="string" value="{{ xfce_mono_font | default('Monospace 10') }}"/>
    <property name="CursorThemeName" type="string" value="{{ xfce_cursor_theme | default('Adwaita') }}"/>
    <property name="DecorationLayout" type="string" value="{{ xfce_button_layout | default('O|HMC') }}"/>
  </property>
</channel>
{%- endmacro -%}

{{- xsettings() }}
