{#
# kdc.conf.j2 for jcook3701.pkgs
#
# SPDX-FileCopyrightText: Jared Cook
# SPDX-License-Identifier: AGPL-3.0-or-later
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.
#}

{%- macro render_kdc_realm_defaults() -%}
database_name = {{ kerberos_file.principal }}
admin_keytab = {{ kerberos_file.admin_keytab }}
acl_file = {{ kerberos_file.admin_acl }}
key_stash_file = {{ kerberos_file.stash }}
max_life = 10h 0m 0s
max_renewable_life = 7d 0h 0m 0s
master_key_type = aes256-cts-hmac-sha1-96
supported_enctypes = aes256-cts-hmac-sha1-96:normal aes128-cts-hmac-sha1-96:normal

iprop_enable = true
iprop_port = 754

{% if kerberos_node_type == 'master' %}
iprop_logfile = {{ kerberos_file.unlimited_ulog }}
{% elif kerberos_node_type == 'replica' %}
iprop_replica_poll = 2m
{# This must be a local file path where the replica tracks its own sync states #}
iprop_replica_ulog_spec = {{ kerberos_directory.state }}/replica.ulog
{# This points to the expected file path of the ulog on the master side #}
iprop_master_ulog_spec = {{ kerberos_directory.state }}/principal.ulog
{% endif %}
{%- endmacro -%}

{%- macro kdc() -%}
[kdcdefaults]
    kdc_ports = {{ kerberos_port }}
    kdc_tcp_ports = {{ kerberos_port }}

    kdc_keytab_name = {{ kerberos_file.keytab }}

[realms]
    {{ kerberos_realm }} = {
        {{ render_kdc_realm_defaults() | indent(8) }}
    }
{%- endmacro -%}

{{- kdc() -}}
