{#
# krb5.conf.j2 for jcook3701.pkgs
#
# SPDX-FileCopyrightText: Jared Cook
# SPDX-License-Identifier: AGPL-3.0-or-later
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.
#}

{%- macro krb5() -%}
[libdefaults]
    default_realm = {{ kerberos_realm | upper }}
    dns_lookup_realm = {{ kerberos_dns_lookup_realm | lower }}
    dns_lookup_kdc = {{ kerberos_dns_lookup_kdc | lower }}
    ticket_lifetime = {{ kerberos_ticket_lifetime }}
    renew_lifetime = {{ kerberos_renew_lifetime }}
    forwardable = {{ kerberos_forwardable }}
    clockskew = {{ kerberos_max_clock_skew }}
{% if kerberos_node_type in ['master', 'replica'] %}
    dns_canonicalize_hostname = false
    rdns = false
{% else %}
    dns_canonicalize_hostname = {{ kerberos_dns_canonicalize_hostname | lower }}
    rdns = {{ kerberos_rdns | lower }}
{% endif %}
    default_tgs_enctypes = {{ kerberos_default_tgs_enctypes | join(' ') }}
    default_tkt_enctypes = {{ kerberos_default_tkt_enctypes | join(' ') }}
    permitted_enctypes = {{ kerberos_permitted_enctypes | join(' ') }}

[realms]
{% for realm in kerberos_realms %}
    {{ realm.name }} = {
    {% for kdc_server in realm.kdc %}
        kdc = {{ kdc_server }}
    {% endfor %}
        admin_server = {{ realm.admin_server }}
    }
{% endfor %}

[domain_realm]
{% for item in kerberos_domain_realms %}
    {{ item.domain }} = {{ item.realm | upper }}
{% endfor %}

[logging]
    default = FILE:{{ kerberos_file.default_log }}
    kdc = FILE:{{ kerberos_file.kdc_log }}
    admin_server = FILE:{{ kerberos_file.admin_log }}
{%- endmacro -%}

{{- krb5() -}}
